# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.idea



/node_modules/
test-ts-types/**/node_modules
test-ts-types/**/dist/
/test/output-chromium
/test/output-firefox
/test/test-user-data-dir*
/.local-chromium/
/.local-firefox/
/.dev_profile*
.DS_Store
*.swp
*.pyc
.vscode
package-lock.json
yarn.lock
/node6
/utils/browser/puppeteer-web.js
/lib
test/coverage.json
temp/
new-docs/
puppeteer.tgz
docs-api-json/
docs-dist/
website/docs
docs/api.html